

.search{
    color:adjust-hue($color: blue, $degrees: 0);
    font-size: 18px;
    font-family: 'Roboto';

}


.filter{
    border: 1px solid black;
    color:adjust-hue($color: blue, $degrees: 0);
    font-size: 18px;
    font-family: 'Roboto';
}
.sort{
    border: 1px solid black;
    // margin-right:80px;
    color:adjust-hue($color: blue, $degrees: 0);
    font-size: 18px;
    font-family: 'Roboto';

}
.image{
    margin-left:80px;
}

.nftname{
    font-weight: 800;
    font-family: 'Roboto';
}
.colon{
    font-weight: 400;

}

.symbol{
    font-weight: 800;
    font-family: 'Roboto';


}
.data{
    font-weight: 400;
    font-family: 'Roboto';
}

.mint{
    color:adjust-hue($color: Blue, $degrees: 0);
    font-weight: 900;
    font-size: 20px;
    font-family: 'Roboto';
}