
 .title{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    }
    .image{
        height:400px;
        width:400px;
    }
    @media screen and (min-width:400px) and (max-width:700px) {
        
          .popup{
            overflow: scroll;
        
        }
        
        .img{
            height:100%;
            width:100%
        }
        
    }

    .thead{
         color:#FFFFFF;
        align-self: center;
    }
    .content{
        font-family: 'Roboto';
        line-height: 2;
    }
    